
            {% assign beae_root_url = routes.root_url %}
            {% if beae_root_url != '/'%}
                {% assign beae_root_url = routes.root_url | append: '/' %}
            {% endif %}
        <link rel="stylesheet" id="beae-vendors-popup_css" href="https://cdn.beae.com/vendors/css/beaepopup.css" /><link rel="stylesheet" id="beae-vendors-css_beae_base" href="https://cdn.beae.com/vendors/css/beae-base.css?v=1.0.1" />{%capture section_id %}beae-preview-template-page{% endcapture%}{% if section_id == section.id %}
{{ content_for_header }}
{% render 'beae_header', BEAE_THEME: true %}{% endif %}
{{'beae-preview-template-page.css'  | asset_url | stylesheet_tag }}
<script type="text/javascript" id="beae-page-info">
                    window.BEAE = window.BEAE || {};
                    window.BEAE.PAGE = {"template_id":"preview-template-page","title":"custom-page1","type":"page","slug":"beae-preview-template-page","plan_id":1};
            </script>
<div class="beae-builder"><div class="beae-sections"><section class="beae-row beae-core beae-section beae-rsfnhgky" data-beaeis="section"><div class="core__row--columns"><div class="beae-column beae-core core__column--first beae-0j49ap4a" data-beaeis="column" style="z-index: 1; outline-offset: -1px;"><div class="core__column--wrapper" style=""><div class="core__blocks" data-beaeis="blocks"><div class="core__blocks--body"><div class="beae-block beae-core core__block elmspace beae-mxilf1f0" data-beaeis="block" data-core-is="block"><div class="beae__element element__heading beae-html"><div class="beae-core core__microelement core__microelement--title core__micro--title"><div class="core__micro--wrapper" data-beaeis="micro"><h2 class="beae-microelement__title" style="-webkit-text-stroke: 1px transparent;">{{ 'sections.beae-preview-template-page.K9Power_html' | t }}</h2></div></div></div></div></div></div></div></div><div class="beae-column beae-core beae-kkdtxvws" data-beaeis="column" style="z-index: 1; outline-offset: -1px;"><div class="core__column--wrapper" style=""><div class="core__blocks" data-beaeis="blocks"><div class="core__blocks--body"><div class="beae-block beae-core core__block elmspace beae-ds7y4yq9" data-beaeis="block" data-core-is="block"><div class="beae__element element__heading beae-html"><div class="beae-core core__microelement core__microelement--title core__micro--title"><div class="core__micro--wrapper" data-beaeis="micro"><h2 class="beae-microelement__title" style="-webkit-text-stroke: 1px transparent;">{{ 'sections.beae-preview-template-page.CLAIM2FREEBOXESFREESHIPPING_html' | t }}</h2></div></div></div></div></div></div></div></div><div class="beae-column beae-core core__column--last beae-doz5sjwy" data-beaeis="column" style="z-index: 1; outline-offset: -1px;"><div class="core__column--wrapper" style=""><div class="core__blocks" data-beaeis="blocks"><div class="core__blocks--body"><div class="beae-block beae-core core__block elmspace beae-377ls0a9" data-beaeis="block" data-core-is="block"><div class="beae__element beae-element-button beae-button-default" deep="1"><div class="beae-core core__microelement core__microelement--button core__micro--button"><div class="core__micro--wrapper" data-beaeis="micro" id="buy-button"><a id="" class="beae-microelement__button beae__element--button" href="#"><span class="beae__element--button-icon-text">{{ 'sections.beae-preview-template-page.BUYHERE_html' | t }}</span></a></div></div></div></div></div></div></div></div></div></section><section class="beae-row beae-core beae-section beae-xn2h2s37" data-beaeis="section"><div class="core__row--columns core__row--full"><div class="beae-column beae-core core__column--first core__column--last beae-q8mxfasn" data-beaeis="column" style="z-index: 1; outline-offset: -1px;"><div class="core__column--wrapper" style=""><div class="core__blocks" data-beaeis="blocks"><div class="core__blocks--body"><div class="beae-block beae-core core__block elmspace beae-iik8wmxd" data-beaeis="block" data-core-is="block"><div class="beae-element beae-base-image" deep="1"><figure><div class="beae-container-image beae-image-align" data-screens="[{&quot;title&quot;:&quot;Desktop&quot;,&quot;name&quot;:&quot;desktop&quot;,&quot;width&quot;:2880,&quot;icon&quot;:&quot;DesktopComputerIcon&quot;,&quot;min&quot;:1024},{&quot;title&quot;:&quot;Tablet&quot;,&quot;name&quot;:&quot;tablet&quot;,&quot;width&quot;:1024,&quot;icon&quot;:&quot;DeviceTabletIcon&quot;,&quot;min&quot;:767},{&quot;title&quot;:&quot;Mobile&quot;,&quot;name&quot;:&quot;mobile&quot;,&quot;width&quot;:767,&quot;icon&quot;:&quot;DeviceMobileIcon&quot;,&quot;min&quot;:320}]"><div class="beae-image-content-position beae-base-image-container-overlay"><div class="beae-core core__microelement core__microelement--image core__micro--image"><div class="core__micro--wrapper" data-beaeis="micro"><div class="beae-microelement__image"><picture><img src="https://cdn.shopify.com/s/files/1/0622/4671/5556/files/2022-09-21_04.30.30.png?v=1663705854" alt="2022-09-21_04"></picture></div></div></div></div></div></figure></div></div></div></div></div></div></div></section><section class="beae-row beae-core beae-section beae-tfha3f1e" data-beaeis="section"><div class="core__row--columns"><div class="beae-column beae-core core__column--first core__column--last beae-325g5m9n" data-beaeis="column" style="z-index: 1; outline-offset: -1px;"><div class="core__column--wrapper" style=""><div class="core__blocks" data-beaeis="blocks"></div></div></div></div></section><!---This page has been built by Beae Builder (www.beae.com)--->
</div></div>{% if section_id == section.id %}{% endif%}<script  type="text/javascript" id="beae-vendors-section_helper" src="https://cdn.beae.com/vendors/js/section-helper.js" ></script><script  type="text/javascript" id="beae-vendors-popup_js" src="https://cdn.beae.com/vendors/js-v2/popup.min.js" ></script>
<script src="{{'beae-preview-template-page.js'  | asset_url }}" defer="defer"></script>

{% schema %}
{
    "name": "BEAE BUILDER APP",
    "locales": {
        "en": {
            "K9Power_html": "<b>K9 - Power<\/b>",
            "CLAIM2FREEBOXESFREESHIPPING_html": "CLAIM 2 FREE BOXES<br>+ FREE SHIPPING",
            "BUYHERE_html": "BUY  HERE"
        }
    },
    "settings": [
        {
            "type": "header",
            "content": "The section was generated by BEAE BUILDER",
            "info": "\n                        Beae is a flexible page builder app on Shopify AppStore.\n                        It provides 100+ Shopify Elements and pre-built templates library, \n                        so you can build unlimited pages that you can imagine with it.\n                    "
        },
        {
            "type": "header",
            "content": "[EDIT WITH BEAE APP \u2192](https:\/\/app.beae.com\/shop\/builder?page=page&id=preview-template-page)",
            "info": "(*You must install the app to start editing this section [Learn more](https:\/\/docs.beae.com\/en\/article\/quick-start-guide-dkoesy\/))"
        }
    ],
    "blocks": [
        {
            "type": "@app"
        }
    ]
}
{% endschema %}