{% comment %} <link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript> {% endcomment %}

{% comment %} {%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
{%- endstyle -%} {% endcomment %}

<div class="">
  <div class="">
    {% comment %} {{ page.content }} {% endcomment %}
{% comment %} 添加自定义产品单叶 {% endcomment %}
lhelel 
  </div>
</div>
